<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias = "KXUser" type = "com.kx690.todoapp.model.KXUser"/>
        <typeAlias alias = "KXTask" type = "com.kx690.todoapp.model.KXTask"/>
    </typeAliases>

    <environments default = "development">
        <environment id = "development">

            <transactionManager type = "JDBC">
                <property name="closeConnection" value="true"/>
            </transactionManager>

            <dataSource type = "POOLED">
                <property name = "poolMaximumActiveConnections" value = "${poolMaximumActiveConnections}"/>
                <property name = "driver"                       value = "${driver}"/>
                <property name = "url"                          value = "${url}"/>
                <property name = "username"                     value = "${username}"/>
                <property name = "password"                     value = "${password}"/>
            </dataSource>

        </environment>
    </environments>

    <mappers>
        <mapper resource="task.xml"/>
        <mapper resource="user.xml"/>
    </mappers>

</configuration>